@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar{
	width:100%;
	height:90px;
	display:flex;
	justify-content:space-between;
	align-items:center;	
	padding: 50px 25px; 
}

.navbar .left{
	width:40%;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.navbar .left .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 17px;
}

.navbar .left .name h1{
	font-size:20px;
}

.navbar .left .name h3{
	font-size:15px;
}

.navbar .left img{
	height:40px;
	width:40px;
	margin-right:10px;
}

.navbar .right a{
	font-size:15px;
	text-decoration:none;
	background:#F77F00;
	color:white;
	padding: 8px 20px;
	transition:all ease-in-out 0.3s;
}

.navbar .right a:hover{
	box-shadow: 5px 5px #003049;
	transform:translateX(4px);
}

.navbar .right img{
	height:40px;
	width:40px;
	/* margin-right:10px; */
}


.main{
	display: flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding:20px;
	gap:20px;
}

.main .details{
	background: #003049;
    padding: 20px;
    position: absolute;
    left: 50%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main .details a{
	text-decoration:none;
	color:white;
	font-size:20px;
}

.main .details h1{
	font-size:20px;
	color:white;
	text-align:start;
}

.main .details img{
	width:50px;
	height:50px;
}

.main .person {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .person input{
    cursor:pointer;
}

.main #selectedPerson{
	background: #003049;
	color:white;
	padding:20px;
	width:70%;
	text-align:center;
	font-weight:600;
	margin-top:20px;
	border-radius: 0;
	transition: all ease-in-out 0.3s;
}

.main #selectedPerson:hover{
	transform:translateY(4px);
}

.main .person img{
	width:100px;
	height:100px;
}

.main .person h1{
	font-size:22px;
}

.main .person p{
	font-size:13px;
}


.main form{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    align-items:center;
}

.main form input[type="submit"]{
	width:30%;
	height:65px;
	margin-top:20px;
	background: #003049;
	color:white;
	outline:none;
	border:none;
	text-align:center;
	font-weight:600;
	margin-top:20px;
	border-radius:0px;
	transition: all ease-in-out 0.3s;
}


.main form input[type="submit"]:hover{
		transform:translateY(4px);
		box-shadow: inset -0px -100px 0 #F77F00;
}

input[type="radio"]:checked{
	transition: all ease-in-out 0.3s;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: -163px;
    left: -54px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #003049;
   	z-index: 999;
}

/* https://coolors.co/palette/003049-d62828-f77f00-fcbf49-eae2b7 */